body {
    background-color: rgb(53, 53, 53);
    font-size: 1.5em;
    color: whitesmoke;
    font-family: monospace;
    text-align: center;
}

#custom-time-input {
    margin: 1px;
}

.initial-hidden {
    display: none;
}

#configure-timer {
    margin-top: 1em;
}

#run-timer {
    font-size: 3em;
    color: whitesmoke;
    font-family: monospace;
}

button {
    font-family: monospace;
    font-size: 1em;
    background-color: aqua;
}

#reset {
    margin-top: 2em;
}

input {
    font-family: monospace;
    font-size: 1em;
}

label {
    padding: 5px;
}

.error {
    border: 2px rgb(246, 53, 0) solid;
    /* looks too small without this, missing a pixel somehow */
    border-bottom: 3px rgb(246, 53, 0) solid;
}